<!DOCTYPE html>
<html>
<head>
	{{>head}}
	<title>Bookshelf: {{title}}</title>
</head>
<body>
	{{>bsnavbar}}
	<div class="container">
		{{{body}}}
	</div>
	<script src="javascripts/lib/bootstrap.min.js"></script>
</body>
</html>
